logs
project/project
project/target
target
tmp
.history
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings

Thumbs.db
public/images/Thumbs.db
public/images/Thumbs.db
out.txt
out2.txt
modules/utilities/quickdb/app/app.iml
*.classpath
*.project
modules/utilities/quickdb/.settings/org.scala-ide.play2.prefs
